.header {
  border-radius: 20px;
  align-items: center;
  text-align: center;
    padding: 20px;
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.25);
}


html, body {
  height: 100%;
  margin: 0;
}

body {
    background-image: url('img/bg/ep.jpg');
}

h1 {
  font-family: 'Arial', sans-serif;
  color: #ffffff;
  margin: 0;
}